<div id="chatbox">
	<table id="chat_data" class="chat_table">
		<% for message in @messages %>
			<tr><td><%= message.body %></td></tr>
		<% end %>
	</table>
</div>
<div id="inputbox">
	<%= form_remote_tag( :url => { :action => :send_data }, :complete => "$('chat_input').value = ''" ) %>
		<%= text_field_tag( 'chat_input', '', { :size => 20, :id => "chat_input" } ) %>
	</form>
</div>